<!--
 * @Author: yxfacw@163.com
 * @Date: 2025-09-23 09:51:42
 * @LastEditTime: 2025-09-23 16:51:28
 * @LastEditors: yxfacw@163.com
 * @Description: .
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>License Manager</title>
    <link rel="stylesheet" href="./css/pure-min.css" />
    <link rel="stylesheet" href="./css/fontawesome.min.css" />
    <link rel="stylesheet" href="./css/solid.min.css" />
    <link rel="stylesheet" href="./css/notie.min.css" />
    <link rel="stylesheet" href="./css/my.min.css" />
    <script src="./js/lib/notie.min.js"></script>
    <script type="module" src="./js/my.js"></script>
  </head>
  <body>
    <div class="absolute size-full bg">
      <div class="flex-col items-center jusitify-start p-1">
        <h2 data-i18n="title">License Manager</h2>
        <language-toggle></language-toggle>
        <hr />
        <lic-status></lic-status>
      </div>
    </div>
  </body>
</html>
