.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65);
  /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60);
  /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20);
  /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221);
  /* this is a light blue */
}

.button-xs {
  font-size: 70%;
}

.button-sm {
  font-size: 85%;
}

.button-l {
  font-size: 110%;
}

.button-xl {
  font-size: 125%;
}
.size-full {
  width: 100%;
  height: 100%;
}

.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}

.r-1 {
  right: 1rem;
}

.t-1 {
  top: 1rem;
}

.r-4 {
  right: 4rem;
}
.l-1 {
  left: 1rem;
}
.l-4 {
  left: 4rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row; 
}
.items-center {
  align-items: center;
}
.jusitify-center {
  justify-content: center;
}
.jusitify-start {
  justify-content: flex-start;
}
.jusitify-between {
  justify-content: space-between;
}
.jusitify-around {
  justify-content: space-around;
}
.p-1 {
  padding: 1rem;
}
.pl-1 {
  padding-left: 1rem;
}
.pr-1 {
  padding-right: 1rem;
}
.pt-1 {
  padding-top: 1rem;
}
.pb-1 {
  padding-bottom: 1rem;
}
.p-2 {
  padding: 2rem;
}
.pl-2 {
  padding-left: 2rem;
}
.pr-2 {
  padding-right: 2rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.m-1 {
  margin: 1rem;
}
.ml-1 {
  margin-left: 1rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.m-2 {
  margin: 2rem;
}
.bg {
  background: #fafafa;
}
.absolute {
  position: absolute;
}
